@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 500px;
  margin: 50px auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.user_img img {
  width: 80px;
  border-radius: 50%;
}

.form_submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form_submit h1 {
  font-size: 20px;
  font-weight: lighter;
}

.form_submit textarea,
input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.form_submit button {
  width: 100%;
  border: none;
  background-color: green;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.form_submit button:hover {
  background-color: rgb(10, 102, 10);
}

.logout {
  width: 50%;
  border: none;
  background-color: red;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.logout:hover {
  background-color: rgb(212, 26, 26);
}

.login_container {
  width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.login_container h1 {
  font-size: 20px;
  font-weight: lighter;
}

.login {
  width: 50%;
  background-color: orange;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.login:hover {
  background-color: rgb(214, 148, 25);
}
