@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font-family: Poppins, sans-serif;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  background-color: #8758ff;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 8px;
}

.wrapper {
  background: #1a1a40;
  border-radius: 5px;
  margin-top: 5rem;
  padding: 2rem;
}

h1 {
  color: #fff;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-align: center;
}

#new-task-form {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1.3rem;
}

#new-task-input {
  background: none;
  border: 1px solid #8758ff;
  color: #fff;
  outline: none;
  padding: 0.5rem 1rem;
  width: 300px;
}

#new-task-submit {
  background: #8758ff;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0.55rem;
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8758ff;
  border-radius: 5px;
  margin-bottom: 15px;
}

.task.br {
  border-radius: 0;
}

.content {
  flex: 1;
}

.content input {
  display: block;
  background-color: #8758ff;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 0.75rem 1rem;
  border-radius: 5px;
}

.actions {
  margin-right: 15px;
  display: flex;
  gap: 10px;
}

.actions.change {
  gap: 0;
  margin-right: 0;
  font-size: 13px;
  height: 37.6px;
}

.actions.change button {
  font-size: 13px;
}

.actions.change .edit {
  width: 79.11px;
}

.actions button {
  background-color: #8758ff;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.task .content .text:not(:read-only) {
  background-color: #1a1a40;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  font-size: 13px;
  border-radius: 0;
}
