.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Chiều rộng toàn màn hình */
  height: 100vh; /* Chiều cao toàn màn hình */
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền xám và độ mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  border: 5px solid #f3f3f3; /* Viền màu xám nhạt */
  border-top: 5px solid #3498db; /* Viền trên màu xanh */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
